:root {
  --primary-color: #F3E300;
  --secondary-color: #008641;
  --default-color: #FAFAFA;
  --text-color: #000000;
  --text-bg-color: #FAFAFA;
  --submenu-bg-color: #474747;
  --placeholder-color: #ACACAC;
  --bg-color: #DDDDDC;
  --mbs1-bg-color: #EF4444;
  --mbs2-bg-color: #FBB751;
  --mbs3-bg-color: #4DCD4A;
  --coupon-badge-bg-color: #737373;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}